{% extends 'base.html' %}

<style>
    label, input {
        display: block;
    }

    span.helptext {
        display: none;
    }
</style>

{% block content %}

    <h1>User Login</h1>

    <form method="post">
        {% csrf_token %}

        {# Render django form #}
        {{ form.as_p }}

        <input type="submit" value="Login"/>
    </form>

    <div class="d-flex flex-column justify-content gap-2 mb-6">
        <a href="{% url 'dashboard' %}"
            class="btn btn-primary max-width-4">Back to dashboard</a>
        <a href="{% url 'social:begin' 'github' %}"
           class="btn btn-primary max-width-4">Login with GitHub</a>
        <a href="{% url 'password_reset' %}"
           class="btn btn-primary max-width-4">Reset password</a>
        <a href="{% url 'register' %}"
           class="btn btn-primary max-width-4">Register</a>
    </div>

{% endblock %}
