{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <h1 class="my-6">Projects</h1>

        <div class="flex flex-row gap-8 justify-around">

            {% for project in projects %}
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="{% static project.image %}">

                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">{{ project.title }}</div>
                        <p class="text-gray-700 text-base">{{ project.description }}</p>
                    </div>

                    <a href="{% url 'projects:project_detail' project.id %}"
                       class="mx-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Read More
                    </a>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}