{% load static %}
{% load tailwind_tags %}
{% load active_link_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="author" content="Daniel Andersson">
    <meta name="description" content="A simple portfolio app.">
    <meta name="robots" content="index, follow">
    <meta name="keywords"
          content="portfolio, web development portfolio, web developer portfolio, freelance">

    <title>Dannes Django App</title>

    <!-- TailwindCSS -->
    {% tailwind_preload_css %}
    {% tailwind_css %}

</head>

{% include 'header.html' %}

<body>
<div class="container">
    {% block content %}

    {% endblock %}
</div>
</body>

{% include 'footer.html' %}

</html>
