{% load static %}

{% load active_link_tags %}

<header>
    <nav class="relative w-full flex flex-wrap items-center justify-between py-3 bg-gray-900
                text-gray-200 shadow-lg navbar navbar-expand-lg navbar-light">
        <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
            <div class="collapse navbar-collapse flex-grow items-center"
                 id="navbarSupportedContent1">
                <a class="text-xl text-white pr-2 font-semibold" href="#">Portfolio</a>

                <ul class="navbar-nav flex flex-row pl-0 list-style-none mr-auto">
                    <li class="nav-item p-2">
                        <a class="nav-link text-white opacity-60  {% active_link 'dashboard' 'text-white opacity-100' %} hover:opacity-80
                                  focus:opacity-80 p-0"
                           href="{% url 'dashboard' %}">Users</a>
                    </li>

                    <li class="nav-item p-2">
                        <a class="nav-link text-white opacity-60 {% active_link 'projects:all_projects' 'text-white opacity-100' %} hover:opacity-80
                                  focus:opacity-80 p-0"
                           href="{% url 'projects:all_projects' %}">Projects</a>
                    </li>

                    <li class="nav-item p-2">
                        <a class="nav-link text-white opacity-60 {% active_link 'blog:listing' 'text-white opacity-100' %} hover:opacity-80
                                  focus:opacity-80 p-0"
                           href="{% url 'blog:listing' %}">Blog</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>
